<section class="column-carousels">
    <h1 class="header-font down-shift">{{group}}</h1>
    <div class="shape1">
        <div class="container text-center my-3"> 
            <div class="row mx-auto my-auto justify-content-center">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="custom1 carousel-inner" role="listbox">
    
                    </div> 
                    <a class="carousel-control-prev bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="prev"> 
                        <span class="fa fa-angle-left" aria-hidden="true"></span> 
                    </a> 
                    <a class="carousel-control-next bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="next"> 
                        <span class="fa fa-angle-right" aria-hidden="true"></span> 
                    </a> 
                </div> 
            </div> 
        </div>
    </div>
</section>

<!-- JS Scripts -->
<script src="/js/createHTML.js"></script>