<section class="search-bar">
    <div class="shape1">
        <div class="input-group">
            <span class="input-group-prepend">
                <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
            </span>
            <input type="text" placeholder="Search" class="form-control bg-transparent">
        </div>
    </div>
</section>
<section class="trending-zone">
    <h1 class="header-font down-shift">Trending</h1>
    <!-- spy x family season 2 visual imagesize:1920x1080 -->
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    
        <div class="carousel-inner">
            <div class="carousel-item active c-item">
                <img src="./assets/images/spy x family season 2 visual.jpg" class="d-block w-100 c-img" alt="Slide 1">
                <div class="banner">SPY×FAMILY Part 2</div>
            </div>
            <div class="carousel-item c-item">
                <img src="https://via.placeholder.com/1920x1080" class="d-block w-100 c-img" alt="Slide 2">
                <div class="banner"></div>
            </div>
            <div class="carousel-item c-item">
                <img src="https://via.placeholder.com/1920x1080" class="d-block w-100 c-img" alt="Slide 3">
                <div class="banner"></div>
            </div>
        </div>
    </div>
</section>
<section class="column-carousels">
    <h1 class="header-font down-shift">Gateway Anime</h1>
    <div class="shape1">
        <div class="container text-center my-3"> 
            <div class="row mx-auto my-auto justify-content-center">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="custom1 carousel-inner" role="listbox">
                        
                        <div class="custom2 carousel-item active">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=1" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=5" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=3" class="img-fluid">
                            </div>
                        </div>
    
                    </div> 
                    <a class="carousel-control-prev bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="prev"> 
                        <span class="fa fa-angle-left" aria-hidden="true"></span> 
                    </a> 
                    <a class="carousel-control-next bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="next"> 
                        <span class="fa fa-angle-right" aria-hidden="true"></span> 
                    </a> 
                </div> 
            </div> 
        </div>
    </div>
</section>
<section class="column-carousels">
    <h1 class="header-font down-shift">Seasonal Anime</h1>
    <div class="shape1">
        <div class="container text-center my-3"> 
            <div class="row mx-auto my-auto justify-content-center">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="custom1 carousel-inner" role="listbox">
                        
                        <div class="custom2 carousel-item active">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=1" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=5" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=3" class="img-fluid">
                            </div>
                        </div>
    
                    </div> 
                    <a class="carousel-control-prev bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="prev"> 
                        <span class="fa fa-angle-left" aria-hidden="true"></span> 
                    </a> 
                    <a class="carousel-control-next bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="next"> 
                        <span class="fa fa-angle-right" aria-hidden="true"></span> 
                    </a> 
                </div> 
            </div> 
        </div>
    </div>
</section>
<section class="column-carousels">
    <h1 class="header-font down-shift">Highly Rated</h1>
    <div class="shape1">
        <div class="container text-center my-3"> 
            <div class="row mx-auto my-auto justify-content-center">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="custom1 carousel-inner" role="listbox">
                        
                        <div class="custom2 carousel-item active">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=1" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=5" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=3" class="img-fluid">
                            </div>
                        </div>
    
                    </div> 
                    <a class="carousel-control-prev bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="prev"> 
                        <span class="fa fa-angle-left" aria-hidden="true"></span> 
                    </a> 
                    <a class="carousel-control-next bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="next"> 
                        <span class="fa fa-angle-right" aria-hidden="true"></span> 
                    </a> 
                </div> 
            </div> 
        </div>
    </div>
</section>
<section class="column-carousels">
    <h1 class="header-font down-shift">Recommended</h1>
    <div class="shape1">
        <div class="container text-center my-3"> 
            <div class="row mx-auto my-auto justify-content-center">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="custom1 carousel-inner" role="listbox">
                        
                        <div class="custom2 carousel-item active">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=1" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=5" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=3" class="img-fluid">
                            </div>
                        </div>
    
                    </div> 
                    <a class="carousel-control-prev bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="prev"> 
                        <span class="fa fa-angle-left" aria-hidden="true"></span> 
                    </a> 
                    <a class="carousel-control-next bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="next"> 
                        <span class="fa fa-angle-right" aria-hidden="true"></span> 
                    </a> 
                </div> 
            </div> 
        </div>
    </div>
</section>
<!-- spy x family season 2 visual imagesize:1920x1080 -->
<!-- JS Scripts -->
<script src="./assets/js/createHTML.js"></script>