<section class="search-bar">
    <div class="shape1">
        <div class="input-group">
            <span class="input-group-prepend">
                <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
            </span>
            <input type="text" placeholder="Search" class="form-control bg-transparent">
        </div>
    </div>
</section>

{{#if group}}
{{> discovergroups}}
{{else}}
<section class="trending-zone">
    <h1 class="header-font down-shift">Trending</h1>
    <!-- spy x family season 2 visual imagesize:1920x1080 -->
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {{#jumboButtons anime}}
            {{/jumboButtons}}
        </div>
    
        <div class="carousel-inner">
            {{#jumboImages anime}}
            {{/jumboImages}}
        </div>
    </div>
</section>
{{!-- tabs to each discovery --}}
{{/if}}
{{!-- {{#each group}}
<section class="column-carousels">
    <h1 class="header-font down-shift">{{group.group}}</h1>
    <div class="shape1">
        <div class="container text-center my-3"> 
            <div class="row mx-auto my-auto justify-content-center">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="custom1 carousel-inner" role="listbox">
                        
                        <div class="custom2 carousel-item active">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=1" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=5" class="img-fluid">
                            </div>
                        </div>
                        <div class="custom2 carousel-item">
                            <div class="col-md-3">
                                <img src="https://via.placeholder.com/225x316?text=3" class="img-fluid">
                            </div>
                        </div>
    
                    </div> 
                    <a class="carousel-control-prev bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="prev"> 
                        <span class="fa fa-angle-left" aria-hidden="true"></span> 
                    </a> 
                    <a class="carousel-control-next bg-transparent w-auto"     href="#recipeCarousel"role="button" data-bs-slide="next"> 
                        <span class="fa fa-angle-right" aria-hidden="true"></span> 
                    </a> 
                </div> 
            </div> 
        </div>
    </div>
</section>
{{/each}} --}}
<!-- spy x family season 2 visual imagesize:1920x1080 -->