{{> nav}}
<!-- Login and Sign up forms -->
<div class="row">

    <!-- Login card -->
    <div class="col-sm-2 login-form" id="logged-form">
        <div class="card login-card">
            <h5 class="card-header login-page" id="title">Login 😊</h5>
            <div class="card-body">
                <h5 class="card-title slow-down">Slow Down Partner! 🤠</h5>
                <p class="card-text login-alert">To view more of your contents, please sign in!</p>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1 email-login">Email address</label>
                        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1 pass-login">Password</label>
                        <input type="password" class="form-control" id="password-login">
                    </div>
                    <button type="submit" class="btn btn-primary login-btn" id="log-btn">login</button>
                    <div><a class="signup-instead" href="/signup">Signup instead</a></div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>