{{!-- Profile Username welcome page --}}
<div>
    <h2>Welcome, {{username}}!</h2>
</div>

{{!-- Status anime tracking list --}}
<div class="profileRow">
    <div class="col-lg profileColumn">
        <h3 class="profileHeaders">Watchlist</h3>
        <!-- <ul class="profileUl">
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
            </ul> -->
    </div>
    <div class="col-lg profileColumn">
        <h3 class="profileHeading profileHeaders">Currently Watching</h3>
        <!-- <ul class="profileUl">
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
            </ul> -->
    </div>
    <div class="col-lg profileColumn">
        <h3 class="profileHeaders">Completed</h3>
        <!-- <ul class="profileUl">
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
            </ul> -->
    </div>
    <div class="col-lg profileColumn">
        <h3 class="profileHeaders">Dropped</h3>
        <!-- <ul class="profileUl">
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
                <li class="updatesLi">Test</li>
            </ul> -->
    </div>
</div>

<script src="./js/profile.js"></script>