{{!-- small animation introduction to page --}}
{{!-- links to log in or sign up or view without loging in --}}



    <div class="container">
        <header class="row">
            <div class="animate__animated animate__heartBeat">
                <h1>Welcome to Anime Tracker!</h1>
            </div>
        </header>
        <div class="row ">
            A place where you can track the anime you're watching!
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" ><a id="log-in" href="/login">Log in</a></button>
            <button class="btn btn-primary" type="button" ><a id="do-not" href="/api/discovery/">Don't log in</a></button>
        </div>
    </div>
