{{> nav}}
<div class="container">
        <div class="updatesRow">
          <div class="col-lg column">
            <h2>Season Anime</h2>
            <ul class ="updatesUl">
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
            </ul>
          </div>
          <div class="col-lg column">
            <h2>Currently Watching</h2>
            <ul class ="updatesUl">
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
              <li class="updatesLi">Test</li>
            </ul>
          </div>
        </div>
      </div>