/* Color and Font Selectors */
:root {
    --light-bg: #E2D7E4;
    --light-primary: #D7BECB;
    --light-secondary: #DDC8D3;
    --light-highlight: #C8ABBA;
    --dark-bg: #2B282F;
    --dark-primary: #403741;
    --dark-secondary: #503F4C;
    --dark-highlight: #6D4D60;
    --text: #843263;
    --text-hover: #BC4074;
    --accent-base: #712B50;
    --accent-default: #BC4074;
    --accent-highlight: #E05380;
    --comfy: "Comfortaa";
}

body {
    background-color: var(--dark-bg);
}

/* This is the styling for the updates tab */
.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.column {
    box-sizing: border-box;
    background-color: var(--dark-primary);
    position: relative;
    width: 600px;
    border-radius: 10px;
    height: 400px;
    margin: 50px;
    color: var(--text);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updatesUl {
    margin: 0px;
    width: 88%;
    height: 70%;
    padding: 10px;
    background-color: var(--dark-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;

}

.updatesLi {
    font-size: 30px;
    list-style-type: none;
    color: var(--light-primary)
}

li:hover {
    color: var(--light-highlight)
}

/* ---------------------------------------------- */
/* This is the styling for the profile tab ------------------*/
.profileColumn {
    box-sizing: border-box;
    background-color: var(--dark-primary);
    position: relative;
    width: 300px;
    border-radius: 10px;
    height: 700px;
    margin: 50px;
    color: var(--text);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.profileHeading {
    font-size: 29px;
}

.profileRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

/* This is the styling for the discover tab */
/* .discoverColumn {
    box-sizing: border-box;
    background-image: linear-gradient( #322b33, #473743, #322b33);
    box-shadow: 0px 4px 8px 0  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    width: 600px;
    height: 200px;
    min-height: 200px;
    margin: 50px;
    color: var(--text);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.discoverHeading {
    position: absolute;
    color: var(--light-secondary);
    margin-left: 50px;
    margin-top: 8px;

}
.discoverRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.discoverTabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#query {
    width: 610px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: linear-gradient( #322b33, #473743, #322b33);
    box-shadow: 0px 4px 8px 0  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* Media Queries ----------------------------------------------*/

/* Tablets */
@media screen and (max-width: 992px) {}

/* Large smartphones */
@media screen and (max-width: 768px) {
    .profileRow {
        flex-wrap: wrap;
    }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
    
}